{% extends "base.html" %}

{% block content %}    
    <style>
        .image {
        width: 800px;
        }
    </style>

    <body>
        
        {%if binary_flag == 0%}
        <p>Items found in the local storage:</b></p>
        <img src="{{ file_path }}" class="image" /></img>
        {%else%}
        <p>Items found in the memcache:</b></p>
        <img src="data:image/gif;base64,{{ file_path }}" class="image" /></img>
        {%endif%}
        <ul>Image key = {{key}}</ul>

    </body>  

  {% endblock %}
