{% extends "base.html" %}

{% block content %}
    {% if user != null %}
    <h1>Welcome! {{ user.fname }}</h1>
    {% else %}
    <h1>Welcome!</h1>
    {% endif %}
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
    <br>
    
    <div>
        <ul><a href="/mycontent">My Cloud Content</a></ul>        
        <ul><a href="/mycloud-config">My Cloud Config</a></ul>        
        <ul><a href="/memcache-statistics">My Cloud Statistics</a></ul> 
        <ul>Metrics</ul>
    </div>

  {% endblock %}
