{% extends "base.html" %}

{% block content %}    
    <body>
        <p>Upload here:</b></p>
        <form method="post" action="upload" enctype=multipart/form-data >
            <label>key:</label>
            <input type="text" name="upload" />
            <input type="file" name="image" />
            <input type="submit" value="upload" />
        </form>

        <p>Retrieve here:</b></p>
        <form method="post" action="retrieve">
            <label>key:</label>
            <input type="text" name="retrieve" />
            <input type="submit" value="get" />
        </form>
        <br>

        {% for mesg in get_flashed_messages() %}
            <li>{{ mesg }}</li>
        {% endfor %}

    </body>  

  {% endblock %}
